---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Welcome!</h1>
  

	This is the official website for the "Genomics of Biodiversity: a crash course on why and how" prior to the Secundo Congreso Latinoamericano de Biogeografía in Quito, Ecuador, sponsored by <a href="??">USFQ</a>.  <br> <br>
	Next Generation Sequencing has revolutionized biodiversity studies. As a consequence, biodiversity scientists must learn basic proficiency in computer programming in order to wrangle these new, enormous datasets. In this workshop we first aim to explore the kinds of questions that can be addressed with high-throughput sequencing as well as how the nature of the data influences the kinds of questions to be asked. We will then delve deeper into RADseq approaches, which have become widely used in ecological and evolutionary studies of non-model organisms. We include two interactive sessions: one on common unix/shell commands that are regularly used in genomics pipelines dealing with large-scale data and a second on wrangling a couple of SNP datasets in R to explore visualization and basic analyses. We encourage students to sign up that plan to use such methods in the immediate future.   <br><br>
	The workshop will take place in the Newton Building on USFQ Main Campus in room N-212 from 09:00-13:00 and 14:00-18:00 on 5 August 2019. We will cover theory and experimental design of genomics projects.      <br>

	<h1>Before the workshop, please complete the following two tasks, in this order:</h1>
	
		1. Fill out this <a href="https://www.surveymonkey.com/r/H6NDCHG">pre-course survey</a> <br>
	
	
		2. Complete lessons 1-3 of this <a href="https://swcarpentry.github.io/shell-novice">software carpentry course</a>  on bash/shell, unless you are certain that you feel comfortable in the shell environment. <br>



	


</div>
<br>
<div>

  <h1>Syllabus and Materials</h1>
  <table>
            <tr>
                <th>Time</th>
                <th>Topic</th>
                <th>Lesson Type</th>
                <th>Instructor(s)</th>
            </tr>
	{% assign sorted_posts = site.posts | sort:"order" %}
    {% for post in sorted_posts %}
     <tr>
                 <td> {{ post.time }} </t>
                 {% if post.material-type == 'ppt' %}
                 	<td> <a href="{{ post.materials }}">{{ post.title }}</a></td>
                 {% elsif post.material-type == 'no-link' %}	
                 	<td> {{ post.title }} </td>
                 {% else %}
                 	<td align="left"> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> </td>
                 {% endif %}
                 <td> {{ post.lesson-type }} </td>
                 <td> {{ post.instructor }} </td> 
     </tr>   
    {% endfor %}
    </table>
</div>



